<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <p>1. What is the brain of Computer?</p>
        <label><input type="radio" name="q1" value="A" required>CPU</label><br>
        <label><input type="radio" name="q1" value="B">MotherBoard</label>
        <br>

        <p>2. What is the acronym of USB?</p>
        <label><input type="radio" name="q2" value="A" required>Universal Serial bus </label><br>
        <label><input type="radio" name="q2" value="B">UniversalKOpogi</label>
        <br><br>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>