<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <p>1. How to print hello word in python?</p>
        <label><input type="radio" name="q1" value="A" required>hello("print")</label><br>
        <label><input type="radio" name="q1" value="B">print("hello word")</label>
        <br>

        <p>2. What is best programming language</p>
        <label><input type="radio" name="q2" value="A" required>PYTHON </label><br>
        <label><input type="radio" name="q2" value="B">HTML</label>
        <br><br>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>